#wrapper {
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: #dddddd;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #dddddd;
  display: grid;
  grid-template-rows: 245px 265px;
  width: 70%;
  margin: 0px auto;
}

.accessoryHead {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}

.relatedItemsHead {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 13px;
}

#options {
  text-align: center;
}

.choice {
  font-family: Helvetica;
  margin-right: 17px;
  font-size: 12px;
}

.choice:hover {
  text-decoration: underline;
  cursor: pointer;
}

#recommendations {
  text-align: center;
  border-top-color: #858181;
  border-top-style: solid;
  border-top-width: thin;
  margin-top: 5px;
}

#accessoryList {
  list-style-type: none;
}

img {
  height: 130px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

li {
  list-style: none;
  display: inline-flex;
  text-align: center;
  margin-right: 7px;
}

b,
.productName {
  font-family: Helvetica;
  font-size: 10.5px;
}

.bigHeader {
  font-style: normal;
  font-family: Helvetica;
  letter-spacing: 0px;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  vertical-align: baseline;
  white-space: normal;
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.25;
  font-size: 18px;
  margin: 0px 0px 10px;
}
